<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/style.css">
</head>

<body>

	<div class="banner">
		<div class="intro">
			<div class="intro-Content">
				<h1>Here's<br><span>JOANNE</span></h1>
				<p>Founder of “XXXD Official’’<br>& Graphic Designer</p>
			</div>
			
			<ul class="intro-SocialLink">
				<li><a href="#"><img src="assets/images/behance.svg"></a></li>
				<li><a href="#"><img src="assets/images/facebook.svg"></a></li>
				<li><a href="#"><img src="assets/images/instagram.svg"></a></li>
				<li><a href="#"><img src="assets/images/youtube.svg"></a></li>
			</ul>
		</div>
	</div>

	<div class="about">
		<div class="about-Intro">
			<h2 class="subTitle mb-5">About</h2>
			<img src="assets/images/photo.png">
		</div>
		<div class="about-Content">
			<ul>
				<li class="pb-_5">Joanne Chen</li>
				<li class="pb-1">1997/10/10</li>
				<li>National Hex School Normal University<br>Department of Visual Design</li>
			</ul>
		</div>
		<div class="about-Career" style="	border-top: 1px solid #000;">
			<ul>
				<li>Founder of ‘’XXXD Official’’</li>
				<li>Graphic Designer</li>
				<li>Graphic Intern of Hex School</li>
			</ul>
		</div>
	</div>

	<div class="brand">
		<div class="brand-Intro">
			<h2 class="subTitle">My Brand ‘’XXXD’’</h2>
			<p style="margin-top:12px;">Just Keep XXXD Everyday</p>
			<p class="brand-Intro-Text">2020 年創立的個人服飾品牌<br>引領叛逆少年開啟與社會對話的窗口<br>主打概念潮流T-Shirt</p>
		</div>

		<ul class="brand-Content">
			<li><img src="assets/images/brand_img1.png"></li>
			<div class="brand-Content-Images">
				<li class="pr-3"><img src="assets/images/brand_img2.png"></li>
				<li><img src="assets/images/brand_img3.png"></li>
			</div>
		</ul>

	</div>

	<div class="other">
		<div class="other-Intro">
			<h2 class="subTitle">Other Works</h2>
			<p class="other-Intro-Text">2016-2020 <span>年累積的作品</span><br><span>海報/廣告/攝影</span>/LOGO/3D</p>
		</div>

		<ul class="other-Images">
			<li class="pr-3">
				<img src="assets/images/work_img1.png">
				<h3><span>海報設計</span>/2017</h3>
			</li>

			<li class="pr-3">
				<img src="assets/images/work_img2.png">
				<h3><span>海報設計</span>/2018</h3>
			</li>

			<li>
				<img src="assets/images/work_img3.png">
				<h3><span>海報設計</span>/2018</h3>
			</li>

			<li class="pr-3">
				<img src="assets/images/work_img4.png">
				<h3><span>概念攝影</span>/2018</h3>
			</li>

			<li>
				<img src="assets/images/work_img5.png">
				<h3><span>概念攝影</span>/2018</h3>
			</li>

			<li class="pr-3">
				<img src="assets/images/work_img6.png">
				<h3>sasa <span>酒標設計</span>/2019</h3>
			</li>

			<li class="pr-3">
				<img src="assets/images/work_img7.png">
				<h3><span>攝影創作</span>/2018</h3>
			</li>

			<li>
				<img src="assets/images/work_img8.png">
				<h3><span>官網設計</span>/2020</h3>
			</li>
		</ul>
	</div>

	<div class="footer">
		<ul>
			<li class="pb-2"><h2 class="subTitle">Contact</h2></li>
			<li class="pb-2">Mail：xxxd@hexschool.com</li>
			<li>Phone Number：0910123456</li>
		</ul>
	</div>

  <script src="./assets/js/vendors.js"></script>
</body>

</html>
